{% load staticfiles %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}IDIA{% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/ia_app.css' %}">

    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
      <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>


</head>
<body>

   <div class="dropdown">
      <button class="dropbtn">Menu</button>
      <div class="dropdown-content">
        <a href="/">Home</a>
        <a href="/help">Tutorial/FAQs</a>
        <a href="#">Help me!</a>
        <a href="/contact">Contact us!</a>
      </div>
   </div>

   <div class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href='{% url "ia_app.views.index" %}'>
            <img class="img-responsive" src='{% static "idia2_withtitle_small.jpeg" %}'/>
          </a>
        </div>

        <ul class="nav navbar-nav navbar-right">
        </ul>
      </div>
   </div>

   <div class="container">

      <div id="sidebar" class="col-md-2">
        {% block sidebar %}
        {% endblock %}
      </div>

      <div id="content" class="col-md-10">
         {% block content %}
         {% endblock %}
      </div>

      <div id = "extrajs">
         {% block extrajs %}
         {% endblock %}
      </div>
   </div>

</body>

</html>
