{% extends "base.html" %}

{% block sidebar %}
<h2>Inputs</h2>
<form action ="" method = "get">

   <label>Initial number susceptible:</label><br>{{ form.S0 }}<br>
   <label>Initial number infected:</label><br>{{ form.I0 }}<br>
   <label>Infectiousness period (days) range:</label><br>
         {{ form.days_low}} to {{form.days_high}}<br>
   <label>R₀ range:</label><br>
      {{ form.r0_low}} to {{form.r0_high}}<br>
   <label>Control effectiveness:</label><br>{{ form.lamb }}<br>
   <label>Control start:</label><br>{{ form.control_start }}<br>
   <input type="submit" value="OK">
</form>
{% endblock %}
{% block content %}

<script src="../static/highcharts.js"></script>
<script src="../static/highcharts-more.js"></script>
<script src="../static/heatmap.js"></script>
<script src="../static/exporting.js"></script>
<script src="../static/js/sir_chart.js"></script>
<!-- <script src="../static/js/ia_linechart.js"></script> -->
<script src="../static/plotly-latest.min.js"></script>
<!-- <script src="../static/graph.js"></script>
Maps the Python template context variables from views.py to the Highchart js variables -->
{% if message %}
   <h2 align="center"> {{ message }}</h2><br>
   <h3 align="center">
   <a href="?S0=10000&I0=1&days_low=5&days_high=7&r0_low=1.8&r0_high=2.5&lamb=0.1&control_start=5" class="button">
   Or, show me an example!</a></h3>
{% endif %}
<div id="content" class="col-md-6">
   <div id='sir_line' class="chart" height = 500 width=700></div>
</div>
<div id="content" class="col-md-6">
   <div id = "contour" style="width:400px;height:375px;"></div>
</div>
<div id="content" class="col-md-12">
<div id = "pcp" style="width:900px;height:500px;"></div>
</div>

{% endblock %}
{% block extrajs %}
<script>
    var chart_id = 'sir_line'
    var sir_chart = {{ sir_chart|safe }}
    var sir_title = {{ sir_title|safe }}
    var sir_xAxis = {{ sir_xAxis|safe }}
    var sir_yAxis = {{ sir_yAxis|safe }}
    var sir_series = {{ sir_series|safe }}
    var pcp_series_g = {{pcp_series_g|safe}}
    var pcp_series_r0 = {{pcp_series_r0|safe}}
    var pcp_series_cs = {{pcp_series_cs|safe}}
    var pcp_series_l = {{pcp_series_l|safe}}
    var pcp_series_k = {{pcp_series_k|safe}}
    var contour_x = {{contour_x|safe}}
    var contour_y = {{contour_y|safe}}
    var contour_z = {{contour_z|safe}}

//   var pcp_series = {{pcp_series|safe}}


var pcp_plot = document.getElementById('pcp')
var data = [{
  type: 'parcoords',
  pad: [20,20,20,20],
  line: {
    color: pcp_series_k,
    colorscale: [[0, '#d8c0d7'], [0.5, '#bb90b9'], [1, '#7e4e7c']]
  },
  dimensions: [{
    range: [Plotly.d3.min(pcp_series_g)-1,Plotly.d3.max(pcp_series_g) + 1],
    label: 'Infectiousness period (days)',
    values: pcp_series_g
  }, {
    label: 'R0',
    range: [Plotly.d3.min(pcp_series_r0)-1,Plotly.d3.max(pcp_series_r0) + 1],
    values: pcp_series_r0
  }, {
    label: 'Control start',
    range: [0,Plotly.d3.max(pcp_series_cs) + 4],
    values: pcp_series_cs
  }, {
    label: 'Control effectiveness',
    range: [0,1],
    values: pcp_series_l
  }, {
    label: 'kappa',
    range: [0,1],
    values: pcp_series_k
  }]
}];

var layout = {hovermode:'closest',
              title: 'Parallel coordinates plot',
               titlefont: {
                  family: 'PT Sans Narrow, sans-serif'
               }
};

var contour_data = [{
                     z:contour_z,
                     x:contour_x,
                     y:contour_y,
                     type:'heatmap',
                     connectgaps: 'True',
                     zsmooth: 'best',
                     colorscale: [
                        [0,'#fce2b6'],
                        [0.2, '#facf85'],
                        [0.4, '#f8bc54'],
                        [0.6, '#f7b23b'],
                        [0.8, '#f59f0a'],
                        [1, '#c47f08']
                     ],
                   colorbar:{
                        title: 'Relative infected controlled v. uncontrolled',
                        titleside: 'right',
                        titlefont: {
                          size: 14,
                          family: 'PT Sans Narrow, sans-serif'
                        }
                   }
               }];

var contour_layout = {
         title: 'Contour plot',
         titlefont: {
               family: 'PT Sans Narrow, sans-serif'
            },
         xaxis: {
            title: 'Infectiousness period (days)',
            titlefont: {
               family: 'PT Sans Narrow, sans-serif'
            }
         },
         yaxis: {
            title: 'R₀',
            titlefont: {
               family: 'PT Sans Narrow, sans-serif'
            }
         },
         margin: {
             l: 50,
             r: 25,
             b: 50,
             t: 50,
             pad: 2
        },
        paper_bgcolor: '#F8F7F8',
        plot_bgcolor: '#F8F7F8'
      }

var contour_plot = document.getElementById('contour')
//var hoverInfo = document.getElementById('hoverinfo')

console.log(contour_data);

Plotly.plot('pcp', data, layout);
Plotly.plot('contour', contour_data, contour_layout);

// contour_plot.on('plotly_hover', function(data){
//     var infotext = data.points.map(function(d){
//       return ('Infectiousness period: '+d.x+', R0: '+d.y, + 'Relative infected: ', +  d.z);
//     });
//     hoverInfo.innerHTML = infotext;
//     console.log(hoverInfo);
// })
//  .on('plotly_unhover', function(data){
//     hoverInfo.innerHTML = '';
// });

</script>

{% endblock %}


