.page-header {
    background-color: #FECA49;
    margin-top: 0;
    padding: 20px 20px 10px 20px;
}

h2 a {
   font-family: 'PT Sans Narrow', sans-serif;
}

body {
   font-family: 'PT Sans Narrow', sans-serif;
   padding-top: 30px;
   padding-bottom:80px;
   background-color: #F8F7F8;
}

.popover-title {
    color: #F7B745;
}
/* help from http://www.w3schools.com/css/css_dropdowns.asp*/
.dropbtn {
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    top: 3%;
    left: 90%;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: relative;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

